__pycache__/
.vscode/
.cursor/
.DS_Store

diffsynth.egg-info
temp/
wandb/
wandb*/
conda-env/
docs/
datasets/gravity/train/
outputs/
checkpoints/
models/

.cursorignore
*.log
*.env
*.tar.gz
*.zip
*.pt
*.pth
*.safetensors
*.mp4